
button {
  height: 60px;
  width: 100px;
  outline: none;
  font-family: 'Press Start 2P', cursive;
  background-color: #F0543C;
  box-shadow: 6px 6px #ac4141;
  margin: 0 auto;
  display: block;
}
h1 {
  color: #ac4141;
  text-align: center;
  font-family:  'Press Start 2P', cursive;
  font-size: 16px;
  stroke: black;
  stroke-width: 6px;
}

.arrowset {
  display: flex;
  color: #ef5b48;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

.arrowset {
  animation-duration: 1.5s, 0.75s;
  animation-name: slidein, scale;
  animation-iteration-count: 1, infinite;
  animation-direction: alternate;
  animation-delay: 0s, 1.5s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes scale {
  from {
    transform: scale(1.0);
  }

  to {
    transform: scale(1.1);
  }
}